-
    var address_list = [
        {
            firstName: 'Nam',
            lastName: 'Le Hoai',
            company: 'Sun Asterisk Inc',
            address: 'Tầng 4, tòa FHome Building, số 16 Lý Thường Kiệt, quận Hải Châu, Tp. Đà Nẵng',
            city: 'Đà Nẵng',
            country: 'Việt Nam',
            postal: '2300089',
            phone: '0974554928'
        }
    ]