-
    var blog_tag = ['Đồng hồ', 'Túi', 'Phụ kiện', 'Giày', 'Sandal', 'Áo sơ mi', 'Nước hoa', 'Trẻ em', 'Thời trang nữ'];

-
    var blog_list = [
        {
            img: 'slide-1.jpg',
            title: 'VANG THĂNG LONG CLASSIC',
            author: 'Giangle',
            date: '30/06/2015',
            comment: '3',
            content: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang nổ Thăng Long tạo cảm giác hưng phấn, dịu êm, vui tươi, sản phẩm được đóng chai dung tích 750ml. Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang nổ Thăng Long tạo cảm giác hưng phấn, dịu êm, vui tươi, sản phẩm được đóng chai dung tích 750ml...',
            comments: [
                {
                    name: 'Giangle',
                    time: '1',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                },
                {
                    name: 'Giangle',
                    time: '1',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                },
                {
                    name: 'Giangle',
                    time: '2',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                }
            ]
        },
        {
            img: 'slide-3.jpg',
            title: 'VANG THĂNG LONG CLASSIC',
            author: 'Giangle',
            date: '30/06/2015',
            comment: '5',
            content: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi.'
        },
        {
            img: 'gallery-1.jpg',
            title: 'VANG THĂNG LONG CLASSIC',
            author: 'Giangle',
            date: '30/06/2015',
            comment: '5',
            content: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi.'
        },
        {
            img: 'slide-1.jpg',
            title: 'VANG THĂNG LONG CLASSIC',
            author: 'Giangle',
            date: '30/06/2015',
            comment: '3',
            content: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang nổ Thăng Long tạo cảm giác hưng phấn, dịu êm, vui tươi, sản phẩm được đóng chai dung tích 750ml...'
        },
        {
            img: 'slide-3.jpg',
            title: 'VANG THĂNG LONG CLASSIC',
            author: 'Giangle',
            date: '30/06/2015',
            comment: '5',
            content: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi.'
        },
        {
            img: 'gallery-1.jpg',
            title: 'VANG THĂNG LONG CLASSIC',
            author: 'Giangle',
            date: '30/06/2015',
            comment: '5',
            content: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi.'
        },
        {
            img: 'slide-3.jpg',
            title: 'VANG THĂNG LONG CLASSIC',
            author: 'Giangle',
            date: '30/06/2015',
            comment: '5',
            content: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi.'
        },
        {
            img: 'gallery-1.jpg',
            title: 'VANG THĂNG LONG CLASSIC',
            author: 'Giangle',
            date: '30/06/2015',
            comment: '5',
            content: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi.'
        },
        {
            img: 'gallery-3.jpg',
            title: 'VANG THĂNG LONG CLASSIC',
            author: 'Giangle',
            date: '30/06/2015',
            comment: '5',
            content: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi.'
        }
    ];