-
    var cart_breadcrumb = [
        {
            page: 'Trang Chủ',
            link: '/' 
        },
        {
            page: 'Danh Sách Sản Phẩm',
            link: '/product.html'
        },
        {
            page: 'Giỏ hàng',
            link: '/cart.html'
        },
    ];

-
    var about_breadcrumb = [
        {
            page: 'Trang Chủ',
            link: '/' 
        },
        {
            page: 'Giới thiệu',
            link: '/about.html'
        }
    ];

-
    var blog_breadcrumb = [
        {
            page: 'Trang Chủ',
            link: '/' 
        },
        {
            page: 'Blog',
            link: '/blog.html'
        }
    ];

-
    var blog_detail_breadcrumb = [
        {
            page: 'Trang Chủ',
            link: '/' 
        },
        {
            page: 'Blog',
            link: '/blog.html'
        },
        {
            page: 'Blog',
            link: '/blog-detail.html'
        }
    ];

-
    var login_breadcrumb = [
        {
            page: 'Trang Chủ',
            link: '/' 
        },
        {
            page: 'Login',
            link: '/login.html'
        }
    ];

-
    var register_breadcrumb = [
        {
            page: 'Trang Chủ',
            link: '/' 
        },
        {
            page: 'Register',
            link: '/register.html'
        }
    ];

-
    var order_breadcrumb = [
        {
            page: 'Trang Chủ',
            link: '/' 
        },
        {
            page: 'Danh sách đơn hàng',
            link: '/order.html'
        }
    ];

-
    var address_breadcrumb = [
        {
            page: 'Trang Chủ',
            link: '/' 
        },
        {
            page: 'Địa chỉ',
            link: '/address.html'
        }
    ];

-
    var contact_breadcrumb = [
        {
            page: 'Trang Chủ',
            link: '/' 
        },
        {
            page: 'Địa chỉ',
            link: '/contact.html'
        }
    ];

-
    var checkout_breadcrumb = [
        {
            page: 'Trang Chủ',
            link: '/' 
        },
        {
            page: 'Danh Sách Sản Phẩm',
            link: '/product.html'
        },
        {
            page: 'Giỏ hàng',
            link: '/cart.html'
        },
        {
            page: 'Check out',
            link: '/checkout.html'
        }
    ];