- 
    var header_top_items = [
        {
            title: 'Tài khoản của tôi',
            link: '/account.html'
        },
        {
            title: 'Trạng thái đơn hàng',
            link: '/order.html'
        },
        {
            title: 'Danh sách ưa thích',
            link: '#'
        },
        {
            title: 'Giỏ hàng',
            link: '/cart.html'
        },
        {
            title: 'Đăng nhập',
            link: '/login.html'
        },
        {
            title: 'Đăng ký',
            link: '/register.html'
        }
    ];

- 
    var header_carousel_items = [
        {
            img: 'slide-1.jpg',
            title:'Rượu',
            year:'1980',
            subtitle:'Vang Đỏ'
        },
        {
            img: 'slide-2.jpg',
            title:'Rượu',
            year:'1980',
            subtitle:'Vang Trắng'
        },
        {
            img: 'slide-3.jpg',
            title:'Rượu',
            year:'1980',
            subtitle:'Champagne'
        }
    ];

-
    var header_main_nav = [
        {
            title: "Trang chủ",
            link: "/"
        },
        {
            title: "Rượu vang đỏ",
            link: "#",
            sub_nav: true
        },
        {
            title: "Rượu trắng",
            link: "product.html"
        },
        {
            title: "Champagne",
            link: "#",
            sub_nav: true
        },
        {
            title: "Thông tin",
            link: "#"
        },
        {
            title: "Blog",
            link: "#"
        },
        {
            title: "Liên hệ",
            link: "#"
        }
    ]

-
    var mega_items = [
        {
            mega_title: 'Rượu Ngoại',
            link: '#',
            list_items: ['Rượu Chivas', 'Hàng độc - Rượu độc đáo', 'Johnnie Walker', 'Rượu Whisky', 'Rượu Remy Martin', 'Rượu Glenmorangie']
        },
        {
            mega_title: 'Rượu Vang',
            link: '#',
            list_items: ['Rượu Chivas', 'Hàng độc - Rượu độc đáo', 'Johnnie Walker', 'Rượu Whisky', 'Rượu Remy Martin', 'Rượu Glenmorangie']
        },
        {
            mega_title: 'Rượu Ngoại',
            link: '#',
            list_items: ['Rượu Chivas', 'Hàng độc - Rượu độc đáo', 'Johnnie Walker', 'Rượu Whisky', 'Rượu Remy Martin', 'Rượu Glenmorangie']
        }
    ]

