-
    var new_product = [
        {
            img: '1.jpg',
            name: 'Rượu vang đà lạt',
            price: '500.000',
            old_price: '450.000'
        },
        {
            img: '2.jpg',
            name: 'Rượu vang đà lạt',
            price: '330.000',
            old_price: '370.000'
        },
        {
            img: '3.jpg',
            name: 'Rượu vang đà lạt',
            price: '500.000',
            old_price: '450.000'
        },
        {
            img: '4.jpg',
            name: 'Rượu vang đà lạt',
            price: '330.000',
            old_price: '370.000'
        },
        {
            img: '5.jpg',
            name: 'Rượu vang đà lạt',
            price: '500.000',
            old_price: '450.000'
        },
        {
            img: '6.jpg',
            name: 'Rượu vang đà lạt',
            price: '500.000',
            old_price: '450.000'
        },
        {
            img: '7.jpg',
            name: 'Rượu vang đà lạt',
            price: '500.000',
            old_price: '450.000'
        },
        {
            img: '8.jpg',
            name: 'Rượu vang đà lạt',
            price: '500.000',
            old_price: '450.000'
        },
        {
            img: '9.jpg',
            name: 'Rượu vang đà lạt',
            price: '500.000',
            old_price: '450.000'
        }
    ];

-
    var selling_product = [
        {
            img: '7.jpg',
            name: 'Rượu vang đà lạt',
            price: '500.000',
            old_price: '450.000'
        },
        {
            img: '5.jpg',
            name: 'Rượu vang đà lạt',
            price: '330.000',
            old_price: '370.000'
        },
        {
            img: '8.jpg',
            name: 'Rượu vang đà lạt',
            price: '500.000',
            old_price: '450.000'
        },
        {
            img: '1.jpg',
            name: 'Rượu vang đà lạt',
            price: '330.000',
            old_price: '370.000'
        },
        {
            img: '4.jpg',
            name: 'Rượu vang đà lạt',
            price: '500.000',
            old_price: '450.000'
        },
        {
            img: '6.jpg',
            name: 'Rượu vang đà lạt',
            price: '500.000',
            old_price: '450.000'
        },
        {
            img: '2.jpg',
            name: 'Rượu vang đà lạt',
            price: '500.000',
            old_price: '450.000'
        },
        {
            img: '3.jpg',
            name: 'Rượu vang đà lạt',
            price: '500.000',
            old_price: '450.000'
        },
        {
            img: '9.jpg',
            name: 'Rượu vang đà lạt',
            price: '500.000',
            old_price: '450.000'
        }
    ];

-
    var list_products = [
        {
            title: 'Rượu',
            year: '1987',
            img: 'gallery-1.jpg'
        },
        {
            title: 'Rượu',
            year: '1997',
            img: 'gallery-2.jpg'
        },
        {
            title: 'Rượu',
            year: '1989',
            img: 'contact.jpg'
        },
        {
            title: 'Rượu',
            year: '1990',
            img: 'slide-1.jpg'
        },
        {
            title: 'Rượu',
            year: '2000',
            img: 'gallery-3.jpg'
        },
        {
            title: 'Rượu',
            year: '1975',
            img: 'slide-2.jpg'
        },
        {
            title: 'Rượu',
            year: '1978',
            img: 'VINSUAL04.jpg'
        },
        {
            title: 'Rượu',
            year: '1999',
            img: 'slide-3.jpg'
        }
    ];

-
    var index_blog = [
        {
            img: 'slide-1.jpg',
            title: 'VANG THĂNG LONG CLASSIC',
            author: 'Giangle',
            date: '30/06/2015',
            comment: '3',
            content: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang nổ Thăng Long tạo cảm giác hưng phấn, dịu êm, vui tươi, sản phẩm được đóng chai dung tích 750ml...'
        },
        {
            img: 'slide-3.jpg',
            title: 'VANG THĂNG LONG CLASSIC',
            author: 'Giangle',
            date: '30/06/2015',
            comment: '5',
            content: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi.'
        },
    ];

-
    var index_carousel_customer = [
        {
            img: 'timthumb-1.jpg',
            name: 'Nam',
            job: 'Graphic design'
        },
        {
            img: 'timthumb-2.jpg',
            name: 'Nam',
            job: 'Front-end dev'
        },
        {
            img: 'timthumb-3.jpg',
            name: 'Nam',
            job: 'back-end dev'
        },
    ];