-
    var state_order = [
        {
            label: 'Tất cả',
            count: 16
        },
        {
            label: 'Đã hủy',
            count: 10
        },
        {
            label: 'Chưa duyệt',
            count: 0
        },
        {
            label: 'Đã duyệt',
            count: 0
        },
        {
            label: 'Đã thanh toán - chờ mua hàng',
            count: 0
        },
        {
            label: 'Đã mua hàng',
            count: 0
        },
        {
            label: 'Hàng đã về - chờ giao hàng',
            count: 0
        },
        {
            label: 'Đã kết thúc',
            count: 6
        }
    ]

-
    var order_list = [
        {
            number: '01',
            id: 'LEANHGIANG89',
            date: '17/06/2015',
            datetime: '01:36 14/03/2015',
            warehouse: 'HÀ ĐÔNG',
            amount: 7,
            total: '350.000đ',
            status: 'Đã thanh toán',
            action: 'Chi tiết'
        },
        {
            number: '02',
            id: 'LEANHGIANG89',
            date: '17/06/2015',
            datetime: '01:36 14/03/2015',
            warehouse: 'HÀ ĐÔNG',
            amount: 7,
            total: '350.000đ',
            status: 'Đã thanh toán',
            action: 'Chi tiết'
        },
        {
            number: '03',
            id: 'LEANHGIANG89',
            date: '17/06/2015',
            datetime: '01:36 14/03/2015',
            warehouse: 'HÀ ĐÔNG',
            amount: 7,
            total: '350.000đ',
            status: 'Đã thanh toán',
            action: 'Chi tiết'
        },
        {
            number: '04',
            id: 'LEANHGIANG89',
            date: '17/06/2015',
            datetime: '01:36 14/03/2015',
            warehouse: 'HÀ ĐÔNG',
            amount: 7,
            total: '350.000đ',
            status: 'Đã thanh toán',
            action: 'Chi tiết'
        },
        {
            number: '05',
            id: 'LEANHGIANG89',
            date: '17/06/2015',
            datetime: '01:36 14/03/2015',
            warehouse: 'HÀ ĐÔNG',
            amount: 7,
            total: '350.000đ',
            status: 'Đã thanh toán',
            action: 'Chi tiết'
        },
        {
            number: '06',
            id: 'LEANHGIANG89',
            date: '17/06/2015',
            datetime: '01:36 14/03/2015',
            warehouse: 'HÀ ĐÔNG',
            amount: 7,
            total: '350.000đ',
            status: 'Đã thanh toán',
            action: 'Chi tiết'
        }
    ]