#login{
    .login-header{
        padding-bottom: 2rem;
        @include flex(row, center, space-between);

        .title{
            background: url(../assets/img/titleleft-dark.png) no-repeat left bottom;
        }

        a{
            height: 50%;
            margin-top: 1rem;
            padding: 10px 25px;
        }
    }

    .login-form{
        border: 1px solid $gray;
        margin-bottom: 5rem;
        padding: 2rem;

        h3{
            font-size: 1.1rem;
            font-weight: 400;
            text-transform: uppercase;
        }

        p{
            margin-bottom: 2.5rem;
        }

        .input-area{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            padding-bottom: 1rem;

            .form-group{
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-box;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
                margin-bottom: 0;
                @include respond(tablet, down){
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                }
            }

            .form-message{
                color: $error-mess;
                font-size: 0.9rem;
                margin-left: 170px;
                @include respond(tablet, down){
                    margin-left: 0;
                }
            }

            label{
                display: block;
                width: 170px;

                span{
                    color: $red;
                    padding-left: 3px;
                }
            }

            input{
                border: 1px solid $gray;
                outline: none;
                padding: 0.1rem 0.8rem;
                width: calc( 100% - 150px );
                @include respond(tablet, down){
                    width: 100%;
                }
            }

            .invalid{
                border-color: $error-mess;
            }
        }

        .form-options{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding-left: 170px;
            @include flex(row, center, space-between);
            @include respond(tablet, down){
                padding-left: 0;
            }

            .form-check{
                padding-left: 0;

                label{
                    color: $black;
                    font-size: 0.9rem;
                }
            }

            .forget-link{
                color: $black;
                font-size: 0.9rem;

                &:hover{
                    color: $primary-color;
                    -webkit-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    transition: all 0.3s;
                }
            }
        }

        button{
            border: none;
            margin-left: 170px;
            margin-top: 1rem;
            outline: none;
            
            @include respond(tablet, down){
                margin-left: 0;
                padding-left: 14px;
            }
        }
    }
}

.register{
    h3{
        margin: 0 0 1.5rem;
    }

    .form-options{
        .form-check{
            label{
                margin-bottom: 1.5rem;
            }
        }
    }

    .control-group{
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;

        button{
            margin-top: 0 !important;
            margin-right: 0.5rem;
        }
    }
}